<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<h1> This is my first home page static page  : <font size = "30" face="verdana" color="green">This is some text!</font> </h1>